header {
    background: rgba(217, 243, 255, .48);
    border-bottom: 1px solid rgba(192, 219, 230, .9);
    box-shadow: 0 10px 20px rgba(11, 42, 82, .10);
}

.navbar-collapse {
    // O Bootstrap dá pra essa classe, .navbar-collapse um comportamento de “ocupa o espaço que sobrar”. Em termos de flexbox, isso é basicamente:
    // ele vira um item flex que cresce pra preencher a largura livre.
    // Quando ele cresce assim, ele vira um “tapete” gigantesco ocupando quase tudo
    flex-grow: 0;
    // O que flex-grow: 0 fez
    // Ele disse:
    // “Você, .navbar-collapse, não vai crescer. Fica só do tamanho do seu conteúdo (os links).”
}

.img-logo {
    width: 150px;
}

.navbar-toggler {
    border: none;
    outline: none;
    transition: 0.2s;
}

.navbar-toggler:focus {
    box-shadow: none;
    filter:
        drop-shadow(0 10px 16px rgba(11, 42, 82, .22)) drop-shadow(0 2px 6px rgba(11, 42, 82, .14)) drop-shadow(0 0 8px rgba(75, 183, 233, .18));
}

.navbar-toggler__menu-hamburguer {
    width: 50px;
}

.navbar-nav {
    align-items: center;
    gap: 16px;
}

.nav-item a {
    color: #0B2A52;
    font-weight: 500;
    border-radius: 12px;
    transition: 0.1s;
    padding: 8px;
    font-size: 1.2rem;
}

.nav-item a:hover,
.nav-item a:focus-visible,
.active {
    background: rgba(253, 240, 100, 0.4);
    box-shadow: 0 8px 18px rgba(11, 42, 82, .10);
    color: #0B2A52;
    outline: 1px solid #2C71C4;
}

@media (width >=576px) {
    .img-logo {
        width: 180px;
    }

    .nav-item a {
        padding: 8px;
        font-size: 1.3rem;
    }
}