<main>
    <div class="container">
        <div class="header-container">
            <button routerLink="/order/list">
                <i class="bi bi-arrow-left"></i> Voltar para Pedidos
            </button>

            <h2>Pedido #1</h2>
        </div>

        <div class="row mt-2">
            <!-- Form register -->
            <div class="col-12">
                <section class="section-form">
                    <form class="form">
                        <h2 class="form__h2">Dados do Pedido</h2>

                        <div class="form__field-style mb-3">
                            <label for="clientName" class="form-label">Nome Cliente</label>
                            <input type="text" class="form-control" id="clientName" name="clientName">
                        </div>

                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="form__field-style mb-3">
                                    <label for="orderStatus" class="form-label">Status do Pedido</label>
                                    <select class="form-select" id="orderStatus" name="orderStatus"
                                        aria-label="Status do Pedido">
                                        <option selected disabled>Selecione</option>
                                        <option value="novo">Novo</option>
                                        <option value="preparando">Preparando</option>
                                        <option value="entregue">Entregue</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-12 col-md-6">
                                <div class="form__field-style mb-3">
                                    <label for="createdIn" class="form-label">Criado em:</label>
                                    <input type="date" disabled class="form-control" id="createdIn" name="createdIn">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-md-9">
                                <div class="form__field-style mb-3">
                                    <label for="orderItem" class="form-label">Item</label>
                                    <select class="form-select" id="orderItem" name="orderItem"
                                        aria-label="Item do Pedido">
                                        <option selected disabled>Selecione</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-12 col-md-3">
                                <div class="form__field-style mb-3">
                                    <label for="qty" class="form-label">Qtde</label>
                                    <input type="number" class="form-control" id="qty" name="qty">
                                </div>
                            </div>
                        </div>

                        <div class="form__field-style mb-3">
                            <label for="observations" class="form-label">Observações</label>
                            <textarea class="form-control" id="observations" name="observations" rows="3"></textarea>
                        </div>

                        <div class="form__button mt-2">
                            <button class="btn btn-edit">Atualizar</button>
                            <button class="btn btn-delete">Excluir</button>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</main>