<main>
    <div class="container">
        <div class="header-container">
            <button routerLink="/order/list">
                <i class="bi bi-arrow-left"></i> Voltar para Pedidos
            </button>

            <h2>Cliente: {{ formEdit.controls.clientName.value }}</h2>
        </div>

        <div class="row mt-2">
            <!-- Form register -->
            <div class="col-12">
                <section class="section-form">
                    <form [formGroup]="formEdit" class="form">
                        <h2 class="form__h2">Dados do Pedido</h2>

                        <div class="form__field-style mb-3">
                            <label for="clientName" class="form-label">Nome Cliente</label>
                            <input 
                            type="text" 
                            class="form-control" 
                            id="clientName" 
                            name="clientName"
                            formControlName="clientName">
                            @if (clienteNameIsEmpty) {
                                <span class="text-danger small">Campo Obrigatório</span>
                            }
                        </div>

                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="form__field-style mb-3">
                                    <label for="orderStatus" class="form-label">Status do Pedido</label>
                                    <select 
                                    class="form-select" 
                                    id="orderStatus" 
                                    name="orderStatus"
                                    aria-label="Status do Pedido"
                                    formControlName="orderStatus">
                                        <option value="" disabled>Selecione...</option>
                                        <option value="novo">Novo</option>
                                        <option value="preparando">Preparando</option>
                                        <option value="entregue">Entregue</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-12 col-md-6" [class.disabled]="true">
                                <div class="form__field-style mb-3">
                                    <label for="createdIn" class="form-label">Criado em:</label>
                                    <input 
                                    type="date" 
                                    class="form-control" 
                                    id="createdIn" 
                                    name="createdIn"
                                    formControlName="createdIn">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-md-9">
                                <div class="form__field-style mb-3">
                                    <label for="orderItem" class="form-label">Item</label>
                                    <select 
                                    class="form-select"
                                    id="orderItem" 
                                    name="orderItem"
                                    aria-label="Item do Pedido"
                                    formControlName="orderItem">
                                        <option value="" disabled>Selecione...</option>
                                        @for (item of items; track item.id) {
                                            <option [value]="item.id">{{ item.itemName }}</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="col-12 col-md-3">
                                <div class="form__field-style mb-3">
                                    <label for="qty" class="form-label">Qtde</label>
                                    <input 
                                    type="number" 
                                    class="form-control" 
                                    id="qty" 
                                    name="qty"
                                    formControlName="qty">
                                    @if (qtyIsEmpty) {
                                        <span class="text-danger small">Campo Obrigatório</span>
                                    }
                                </div>
                            </div>
                        </div>

                        <div class="form__field-style mb-3">
                            <label for="observations" class="form-label">Observações</label>
                            <textarea 
                            class="form-control" 
                            id="observations" 
                            name="observations" 
                            rows="3"
                            formControlName="observations"></textarea>
                            @if (observationsIsEmpty) {
                                <span class="text-danger small">Campo Obrigatório</span>
                            }
                        </div>

                        <div class="form__button mt-2">
                            <button class="btn btn-edit" [disabled]="!hasChanges" (click)="onSubmit()">Atualizar</button>
                            <button class="btn btn-cancel" routerLink="/order/list">Cancelar</button>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</main>