// Common styles
.col-12 {
    // outline: 1px solid red;
    margin-top: 16px;
}

.container>h2 {
    margin: 0;
    text-align: center;
    // font-size: 1.7rem;
    margin-top: 32px;
    font-weight: 700;
}

// Cards
.cards-row h3 {
    text-align: center;
    font-weight: 500;
    letter-spacing: 3px;
    font-size: 1.3rem;
    color: #0B2A52;
}

.cards-row__qty-by-status {
    margin: 0;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 500;
    // color: #CDAA18;
}

.cards-row__article {
    // outline: 1px solid red;
    outline: 3px solid rgba(192, 219, 230, .95);
    background: rgba(255, 255, 255, .94);
    // box-shadow:
    //     0 26px 70px rgba(11, 42, 82, .30),
    //     /* sombra grande */
    //     0 10px 22px rgba(11, 42, 82, .18);
    padding: 16px;
    border-radius: 12px;
}

.cards-row__new-orders {
    box-shadow: inset 25px 0 18px -18px rgba(44, 113, 196);
}

.cards-row__new-orders p {
    color: rgba(44, 113, 196);
}

.cards-row__orders-in-preparation {
    box-shadow: inset 20px 0 18px -18px #CDAA18;
}

.cards-row__orders-in-preparation p {
    color: #CDAA18;
}

.cards-row__orders-delivered {
    box-shadow: inset 25px 0 18px -18px rgba(75, 183, 233);
}

.cards-row__orders-delivered p {
    color: rgba(75, 183, 233);
}


@media (width >=768px) {
    .cards-row__card {
        display: flex;
        // justify-content: center;
        // outline: 4px solid red;
    }

    .cards-row__article {
        // display: flex;
        // flex-direction: column;
        // height: 150px;
        width: 100%;
    }

    .cards-row__article p {
        // // outline: 1px solid red;
        // margin-top: auto;
    }
}

// Filters
.section-form {
    outline: 3px solid rgba(192, 219, 230, .95);
    background: rgba(255, 255, 255, .94);
    box-shadow:
        0 26px 70px rgba(11, 42, 82, .30),
        0 10px 22px rgba(11, 42, 82, .18);
    padding: 16px;
    border-radius: 12px;
}

.form__h2 {
    text-align: center;
    font-weight: 600;
    font-size: 1.7rem;
}

.form__field-style label {
    font-size: 1.1rem;
}

.form__field-style input,
.form__field-style select {
    font-size: 1.1rem;
    border-radius: 20px;
    border: none;
    outline: 1px solid rgba(192, 219, 230, .95);
}

.form__field-style input:focus-visible,
.form__field-style select:focus-visible {
    outline: 2px solid #FDF064;
    box-shadow: none;
    box-shadow:
        0 8px 18px rgba(11, 42, 82, .10),
}

.form__button {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    font-size: 1.2rem;
    width: 100%;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2C71C4;
    outline: 3px solid #C0DBE6;
    color: white;
    border-radius: 12px;
    font-weight: 600;
    box-shadow:
        0 12px 22px rgba(11, 42, 82, .28);
    transition: 0.2s;
}

.btn:hover,
.btn:focus-visible {
    transform: translateY(-2px);
    outline-color: rgba(253, 240, 100, 0.7); // Como já tem 3px em .btn, aqui continua sendo 3px solid
}

// Table
.section-table {
    outline: 3px solid rgba(192, 219, 230, .95);
    background: rgba(255, 255, 255, .94);
    box-shadow:
        0 26px 70px rgba(11, 42, 82, .30),
        0 10px 22px rgba(11, 42, 82, .18);
    padding: 16px;
    border-radius: 12px;
}

.section-table h2 {
    text-align: center;
    font-weight: 600;
    font-size: 1.7rem;
    color: #212529;
}

// .table-responsive {
//     outline: 1px solid red;
// }

thead,
tbody {
    text-align: center;
}

.table {
    // border: 1px solid #C0DBE6;
    // border-radius: 12px;
    margin: 0;
}

.table-responsive {
    border: 1px solid #C0DBE6;
    // border: 1px solid red;
    border-radius: 12px;
    // margin: 0;
}

.tbody__style-img-edit,
.tbody__style-img-advance,
.tbody__style-img-trash {
    background-color: transparent;
    border: none;
    transition: 0.2s;
}

.tbody__style-img-edit:hover,
.tbody__style-img-advance:hover,
.tbody__style-img-trash:hover {
    transform: translateY(-5px);
    filter:
        drop-shadow(0 10px 18px rgba(11, 42, 82, .22)) drop-shadow(0 3px 8px rgba(11, 42, 82, .14));
}

.tbody__style-img-edit img {
    width: 50px;
}

.tbody__style-img-advance img {
    width: 60px;
}

.tbody__style-img-trash img {
    width: 50px;

}

.table-group-divider {
    color: #C0DBE6;
}

.section-table__total-qty {
    text-align: center;
    color: #0B2A52;
    font-weight: 500;
    background-color: rgba(217, 243, 255, .75);
    outline: 2px solid rgba(255, 255, 255, .94);
    // max-width: 250px;
    // margin: 0 auto;
    font-size: 1.2rem;
    padding: 8px;
    border-radius: 12px;
    box-shadow: inset 0 -10px 18px rgba(11, 42, 82, .10);
    // font-weight: 600;
    // outline: 1px solid red;
    margin-top: 16px;
}

.section-table__total-qty p {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    margin: 0;
}

.section-table__total-qty span {
    // outline: 1px solid red;
    color: #2C71C4;
    font-weight: 700;
    font-size: 1.4rem;
}

@media (width >=768px) {
    .section-table__total-qty {
        // margin: 0;
        // display: flex;
        // outline: 1px solid red;
        // flex-direction: row;
        // outline: 1px solid red;
        width: 250px;
    }
}

@media (width >=992px) {
    .section-table__total-qty {
        // padding: 8px 16px;
        // flex-direction: row;
    }
}