<main tabindex="-1">
    <div class="container">
        <h2>Resumo de Pedidos</h2>

        <!-- Cards -->
        <div class="cards-row row">

            <div class="cards-row__card col-12 col-md-4">
                <article class="cards-row__new-orders cards-row__article">
                    <h3>Pedidos Novos</h3>
                    <p class="cards-row__qty-by-status">{{ counts.novo }}</p>
                </article>
            </div>

            <div class="cards-row__card col-12 col-md-4">
                <article class="cards-row__orders-in-preparation cards-row__article">
                    <h3>Pedidos em Preparação</h3>
                    <p class="cards-row__qty-by-status">{{ counts.preparando }}</p>
                </article>
            </div>

            <div class="cards-row__card col-12 col-md-4">
                <article class="cards-row__orders-delivered cards-row__article">
                    <h3>Pedidos Entregues</h3>
                    <p class="cards-row__qty-by-status">{{ counts.entregue }}</p>
                </article>
            </div>
        </div>

        <div class="row">
            <!-- Filters -->
            <div class="col-12 col-md-5 col-lg-4">
                <section class="section-form">
                    <form class="form">
                        <h2 class="form__h2">Filtros</h2>

                        <div class="form__field-style mb-3">
                            <label for="clientName" class="form-label">Nome Cliente</label>
                            <input type="text" class="form-control" id="clientName" name="clientName"
                                placeholder="Ex: Patrick">
                        </div>

                        <div class="form__field-style">
                            <label for="order-status" class="form-label">Status do Pedido</label>
                            <select class="form-select" aria-label="Status do Pedido">
                                <option selected disabled>Selecione</option>
                                <option value="novo">Novo</option>
                                <option value="preparando">Preparando</option>
                                <option value="entregue">Entregue</option>
                            </select>
                        </div>

                        <div class="form__button mt-4">
                            <button class="btn ">Aplicar Filtros</button>
                        </div>
                    </form>
                </section>
            </div>

            <!-- Table -->
            <div class="col-12 col-md-7 col-lg-8">
                <section class="section-table">
                    <h2>Tabela de Pedidos</h2>

                    <div class="table-responsive">
                        <table class="table align-middle">
                            <thead>
                                <tr>
                                    <th scope="col">Cliente</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Ver/Editar</th>
                                    <th scope="col">Avançar</th>
                                    <th scope="col">Excluir</th>
                                </tr>
                            </thead>

                            <tbody class="table-group-divider">
                                @for (order of orders; track order.id) {
                                    <tr>
                                        <td>{{ order.client }}</td>
                                        <td>{{ order.status }}</td>
    
                                        <td class="text-center">
                                            <button routerLink="/order/list/1" type="button" class="tbody__style-img-edit">
                                                <img src="/assets/img/img-order-list/img_edit.png" alt="Espátula ">
                                            </button>
                                        </td>
    
                                        <td class="text-center">
                                            <button class="tbody__style-img-advance" (click)="changeStatus(order)">
                                                <img [src]="imgStatus[order.status]" alt="">
                                            </button>
                                        </td>
    
                                        <td class="text-center">
                                            <button class="tbody__style-img-trash">
                                                <img src="/assets/img/img-order-list/img_trash.png" alt="">
                                            </button>
                                        </td>
                                    </tr>
                                }

                                <!-- <tr>
                                    <td>Siriguejo</td>
                                    <td>Preparando</td>

                                    <td class="text-center">
                                        <button routerLink="/order/list/2" type="button" class="tbody__style-img-edit">
                                            <img src="/assets/img/img-order-list/img_edit.png" alt="Espátula">
                                        </button>
                                    </td>

                                    <td class="text-center">
                                        <button class="tbody__style-img-advance">
                                            <img src="/assets/img/img-order-list/img_oder_in_preparation.png"
                                                alt="Avançar pedido">
                                        </button>
                                    </td>

                                    <td class="text-center">
                                        <button class="tbody__style-img-trash">
                                            <img src="/assets/img/img-order-list/img_trash.png" alt="Lixeira">
                                        </button>
                                    </td>
                                </tr>

                                <tr>
                                    <td>Sandy Bochechas</td>
                                    <td>Entregue</td>

                                    <td class="text-center">
                                        <button routerLink="/order/list/3" type="button" class="tbody__style-img-edit">
                                            <img src="/assets/img/img-order-list/img_edit.png" alt="Espátula">
                                        </button>
                                    </td>

                                    <td class="text-center">
                                        <button class="tbody__style-img-advance">
                                            <img src="/assets/img/img-order-list/img_delivered_order.png"
                                                alt="Avançar pedido">
                                        </button>
                                    </td>

                                    <td class="text-center">
                                        <button class="tbody__style-img-trash">
                                            <img src="/assets/img/img-order-list/img_trash.png" alt="Lixeira">
                                        </button>
                                    </td>
                                </tr> -->
                            </tbody>
                        </table>
                    </div>

                    <div class="section-table__container-bottom">
                        <div class="section-table__total-qty">
                            <p>
                                Total de Pedidos: <span>{{ totalOrders }}</span>
                            </p>
                        </div>

                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>

                                <li class="page-item">
                                    <a class="page-link" href="#">1</a>
                                </li>

                                <li class="page-item">
                                    <a class="page-link" href="#">2</a>
                                </li>

                                <li class="page-item">
                                    <a class="page-link" href="#">3</a>
                                </li>

                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </section>
            </div>
        </div>
    </div>
</main>