.container>h2 {
    margin: 0;
    text-align: center;
    font-weight: 700;
    margin-top: 32px;
}

// Form register
.section-form {
    outline: 3px solid rgba(192, 219, 230, .95);
    background: rgba(255, 255, 255, .94);
    box-shadow:
        0 26px 70px rgba(11, 42, 82, .30),
        0 10px 22px rgba(11, 42, 82, .18);
    padding: 16px;
    border-radius: 12px;
}

.form__h2 {
    text-align: center;
    font-weight: 600;
    font-size: 1.7rem;
}

.form__field-style label {
    font-size: 1.1rem;
}

.form__field-style input,
.form__field-style select,
.form__field-style textarea {
    font-size: 1.1rem;
    border-radius: 20px;
    border: none;
    outline: 1px solid rgba(192, 219, 230, .95);
}

.form__field-style input:focus-visible,
.form__field-style select:focus-visible,
.form__field-style textarea:focus-visible {
    outline: 2px solid #FDF064;
    box-shadow: none;
    box-shadow:
        0 8px 18px rgba(11, 42, 82, .10),
}

.form__button {
    text-align: center;
    display: flex;
    justify-content: center;
}

.btn-edit {
    font-size: 1.2rem;
    width: 100%;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    font-weight: 600;
    transition: 0.2s;
    box-shadow:
        0 12px 22px rgba(11, 42, 82, .28);
    color: #fff;
    outline: 3px solid #C0DBE6;
    background-color: #2C71C4;
    margin-bottom: 16px;
}

.btn-edit:hover,
.btn-edit:focus-visible {
    transform: translateY(-2px);
    outline-color: rgba(253, 240, 100, 0.7); // Como já tem 3px em .btn, aqui continua sendo 3px solid
}

@media (width >=768px) {
    .section-form {
        max-width: 700px;
        margin: 0 auto;
    }

    .btn-edit {
        margin-bottom: 0;
        width: 55%;
    }
}